.members {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.members > h4 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.profile-name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: rgb(255, 255, 255);
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(7, 40, 59)), to(rgb(9, 52, 77)));
	background: linear-gradient(rgb(7, 40, 59), rgb(9, 52, 77));
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	justify-content: center;
	margin-bottom: 1rem;
}

.profile-name > * {
	text-decoration: none;
	color: inherit;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 0.35rem;
}

.profile-name > *:hover {
	background-color: rgb( 20, 91, 132);
}

.profile-picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin:0;
	
}

.profile-picture img{
    -webkit-box-shadow: 1px 1px 5px black;
    box-shadow: 1px 1px 5px black;
}

.profile-picture a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.profile-info span {
	margin-bottom: 0.5rem;
}

.faculty-members .profile-picture {
	margin-bottom: 1rem;
}
